{{> menu id="dashboard"}}

<section class="ui segment">
 
    Assessment List
  </header>
  <table class="ui celled table">
   <thead>
    <tr>
      <th>Date</th>
      <th>Weight</th>
      <th>Chest</th>
      <th>Thigh</th>
      <th>Chest</th>
      <th>Upper Arm</th>
      <th>Waist</th>
      <th>Hips</th>
    </tr>
    </thead>
    <tbody>
      {{> analytics}}
      <div class="ui bulleted list">
        {{#each assessmentlist}}
      <tr>
    <td>
        {{title}}
    </td>
    <td>
        {{weight}}
    </td>
    <td>
        {{chest}}
    </td>
    <td>
        {{thigh}}
    </td>
    <td>
        {{upperArm}}
    </td>
    <td>
        {{waist}}
    </td>
    <td>
        {{hips}}
    </td>
    </tr>
        {{/each}}
      </div>
    </tbody>
</table>

{{> assessment-table}}
{{> addassessment}}
</section>

